<%- include('../../partials/header') %>
    <div class="container">
        <h2>Sejam bem vindos ao meu blog</h2>

        <% result.articles.rows.forEach((articles)=> { %>
            <hr>
            <h2>
                <%= articles.titulo %>
            </h2>
            <%- articles.body %>
            <br><br>
            <%+ articles.category_titulo %>
        <% }) %>
    </div>

    <%- include('../../partials/footer') %>