<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Blog com bootstrap</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Blog com bootstrap</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-iten">
                    <a class="nav-link" href="/admin/categoryes">Categorias</a>
                </li>
                <li class="nav-iten">
                    <a class="nav-link" href="/admin/articles">Artigos</a>
                </li>
            </ul>
        </nav>