<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Blog com bootstrap</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Blog com bootstrap</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-iten">
                    <a class="nav-link" href="/admin/categoryes">Categorias</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h2>Olá mundo</h2>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
    
</html>