<%- include('partials/header') %>
    <div class="container">
        <h2>Sejam bem vindos ao meu blog</h2>

        <% article.forEach((articles)=> { %>
            <hr>
            <h2>
                <%= articles.titulo %>
            </h2>
            <%- articles.body %>
            <br><br>
            <%+ articles.category_titulo %>
        <% }) %>
        <div class="row">
            <div class="col col-12">
                <a style="float: right;" href="/articles/pages/2">Próximo >>></a>
            </div>
        </div>
        <hr>
    </div>

    <%- include('partials/footer') %>