<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Blog com bootstrap</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="/">Blog com bootstrap</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-iten">
                        <a class="nav-link" href="/admin/categoryes">Categorias</a>
                    </li>
                </ul>
        </nav>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Edição de categorias</h2>
                </div>
                <viv class="card-boddy">
                    <form onsubmit="edit(event, this)" method="post" action="/category/update">
                        <label for="title">Título</label><br>
                        <input type="hidden" value="<%= category.id%>" name="id" />
                        <input class="form-control" type="text" name="title" id="title" value="<%= category.titulo %>" placeholder="Coloque o titulo da categoria"><br>
        
                        <input type="submit" value="Atualizar" class="btn btn-success">
                    </form>
                </viv>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
    <script>
        function edit(e, form){
            e.preventDefault();
            let title = document.getElementById("title").value;
            let confirmation = confirm(`Você realmente quer atualizar o nome da categoria para ${title} ?`);
            if(confirmation){
                form.submit();
            }
        }
    </script>
</html>