<%- include ('../../partials/header.ejs') %>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Edição de categorias</h2>
                </div>
                <viv class="card-boddy">
                    <form onsubmit="edit(event, this)" method="post" action="/category/update">
                        <label for="title">Título</label><br>
                        <input type="hidden" value="<%= category.id%>" name="id" />
                        <input class="form-control" type="text" name="title" id="title" value="<%= category.titulo %>" placeholder="Coloque o titulo da categoria"><br>
        
                        <input type="submit" value="Atualizar" class="btn btn-success">
                    </form>
                </viv>
            </div>
        </div>
        <script>
            function edit(e, form){
                e.preventDefault();
                let title = document.getElementById("title").value;
                let confirmation = confirm(`Você realmente quer atualizar o nome da categoria para ${title} ?`);
                if(confirmation){
                    form.submit();
                }
            }
        </script>
<%- include ('../../partials/footer.ejs') %>