<%- include ('../../partials/header.ejs') %>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Cadastro de categorias</h2>
                </div>
                <viv class="card-boddy">
                    <form onsubmit="confirmCategory(event, this)" method="post" action="/categoryes/save">
                        <label for="title">Título</label><br>
                        <input class="form-control" type="text" name="title" id="title" placeholder="Coloque o titulo da categoria"><br>
        
                        <input type="submit" value="Salvar" class="btn btn-success">
                    </form>
                </viv>
            </div>
        </div>
        <script>
            function confirmCategory(e, form){
                e.preventDefault();
                let title = document.getElementById("title").value;
                if(title == ""){
                    alert("Preencha o campo");
                }else{
                    form.submit();
                }
            }
        </script>
<%- include ('../../partials/footer.ejs') %>